<!DOCTYPE html>
<html>
<title>Travel note</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style/Rcss.css">

<body>
	<div class="travel-content">
	 <div class="container-fluid fluid-user traveltitle">
  		<h1>Travel note</h1>
  		<p>A template made by w3.css for photographers.</p>
  		<p><button class="pedding-btn" onclick="myFunction()">Toggle Grid Padding</button></p>
	 </div>


<div class ="row">
 <div id ="col-md-4-R">
    <img src="images/1920x1080.90.83176-2560x1440.90.Untitled-3 copy.jpg" style="width:100%">
    <img src="images/header-bg.jpg" style="width:100%">
    <img src="images/img_bridge.jpg" style="width:100%">
    <img src="images/img_gondol.jpg" style="width:100%">
    <img src="images/img_rocks.jpg" style="width:100%">
    <img src="images/img_gondol.jpg"style="width:100%">
</div>

<div id = "col-md-4-R"> 
    <img src="images/img_coffee.jpg" style="width:100%">
    <img src="images/img_gondol.jpg" style="width:100%">
    <img src="images/img_nature.jpg" style="width:100%">
    <img src="images/1920x1080.90.117269-_.jpeg" style="width:100%">
    <img src="images/1920x1080.90.83176-2560x1440.90.Untitled-3 copy.jpg" style="width:100%">
    <img src="images/img_rocks.jpg" style="width:100%">
</div>

<div id = "col-md-4-R">
    <img src="images/img_rocks.jpg" style="width:100%">
    <img src="images/img_sound.jpg" style="width:100%">
    <img src="images/img1.jpg" style="width:100%">
    <img src="images/profile.png" style="width:100%">
    <img src="images/img_rocks.jpg" style="width:100%">
  </div>
  </div>
  </div>
  
<!-- Footer -->
<footer>

</footer>
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="js/bootstrap.js"></script>

<script>
// Toggle grid padding
function myFunction() {
    var x = document.getElementById("myGrid");
    if (x.className.indexOf("w3-row-pedding") == -1) {
        x.className += " w3-row-padding";
    } else {
        x.className = x.className.replace(" w3-row-padding", "");
    }
}

//  네비바를 사진블럭으로 바꿈
function w3_open() {
    document.getElementById("mySidenav").style.width = "100%";
    document.getElementById("mySidenav").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
}

</script>

</body>
</html>
