<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kitri.travelia.mapper.MemberMaper">


    <select id="selectArticleList" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
        SELECT brd_article_no, brd_cat, brd_writer, brd_article_title, brd_hit
        FROM board
        ]]>
    </select>

    <insert id="insertBoard" parameterType="hashmap">
        <![CDATA[
        INSERT INTO board
        (
          brd_cat,
          brd_article_title,
          brd_writer,
          brd_article
        )
        VALUES
        (
         '기본값',
         #{title},
         'ADMIN',
         #{contents}
        )
        ]]>
    </insert>

</mapper>
