<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kitri.travelia.mapper.TravelNoteMapper">

	<!-- TravelNote Item 등록 -->
	<insert id ="createNote">
		insert into Travel_note
		(note_no, note_title, contitle1, context1, contitle2, context2, contitle3, context3, contitle4, context4, timetitle1, timetext1, timetitle2, timetext2, timetitle3, timetext3, timetitle4, timetext4, mem_no) 
		values
		(#{note_no}, #{note_title},#{contitle1},#{context1},#{contitle2},#{context2},#{contitle3},#{context3},#{contitle4},#{context4},#{timetitle1},#{timetext1},#{timetitle2},#{timetext2},#{timetitle3},#{timetext3},#{timetitle4},#{timetext4},#{mem_no})
	</insert> 
	<!-- TravelNote Image 등록 -->	
	<insert id ="createImg">
		insert into Note_img(note_no,note_img1, note_img2, note_img3, note_img4, note_img5) 
		values(#{note_no},#{note_img1},#{note_img2},#{note_img3},#{note_img4},#{note_img5})
	</insert>
	<!-- 최근 Note_no 조회 -->
	<select id ="note_no" resultType="int">
	 select MAX(note_no) from travel_note;
	</select>
	
	<!-- TravelNote Item 조회 -->
	<select id ="readNote" resultType="Travel_note" parameterType="int">
			select * from Travel_note where note_no = #{note_no}
	</select>
	<!-- TravelNote Image 조회 -->
	<select id ="readImg" resultType="Note_img" parameterType="int">
			select * from note_img where note_no = #{note_no}
	</select>

	<!-- TravelNote Item 수정 -->
	<update id="updateNote">
		update Travel_note set note_title = #{note_title}, note = #{note} where note_no = #{note_no}
	</update>
	<!-- TravelNote Item 수정 -->
	<update id="updateImg">
		update Note_img set 
		note_img1 = #{note_img1}, 
		note_img2 = #{note_img2},
		note_img3 = #{note_img3},
		note_img4 = #{note_img4},
		note_img5 = #{note_img5},
		note_img6 = #{note_img6},
		note_img7 = #{note_img7},
		note_img8 = #{note_img8},
		note_img9 = #{note_img9},
		note_img10 = #{note_img10} where note_no = #{note_no}
	</update>
	
	<!-- TravelNote Item 삭제-->
	<delete id ="deleteNote" parameterType ="int">
		delete from Travel_note where note_no = #{note_no}
	</delete> 
	<!-- TravelNote Image 삭제-->
	<delete id ="deleteImg" parameterType ="int">
		delete from Note_img where note_no = #{note_no}
	</delete> 
	
	
	<!-- TravelNote Item list 조회 -->
	<select id ="list" resultType="NoteList">
		<![CDATA[
		select a.note_no, a.note_title, b.note_img1 
		from  travel_note a inner join Note_img b on a.note_no = b.note_no 
		where a.note_no>0 order by a.note_no desc;]]>
	</select>

</mapper>