@font-face {
	font-family: NamsanEB;
	src: url(../fonts/NamsanEB.ttf);
}

@font-face {
	font-family: NamsanM;
	src: url(../fonts/NamsanM.ttf);
}

body {
	font-family: 'Century Gothic', sans-serif;
	margin-top:94px;
}

h1 {
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
	font: normal normal normal 40px/60px NamsanEB;;
	color: #3b3b3b;
}

.trv_logo a:hover {
	text-decoration: none;
}
/*menu*/
#trv_mobile_menu {
	top: 0;
	width: 250px;
	height: 100%;
	background: #f9f9f9;
	position: fixed;
	z-index: 5500;
	right: -1500px;
	display: none;
	overflow: auto;
}

#trv_mobile_menu ul li a {
	text-align: left;
	background: #33ccff;
	color: #000;
}

#trv_mobile_menu ul li:hover a {
	background: #008ae6;
	color: #fff;
}

#trv_banner_menu {
	width: 100%;
	background: #f9f9f9;
	height: 94px;
	border-bottom: 1px solid #f15556;
	position: fixed;
	top: 0;
	z-index: 100;
}

#trv_banner_menu .container-fluid{
	
	max-width: 1600px;
	
}

.img_sz{

	width:300px;
	height:300px;
}

.panel-info {
    border-color:#E4E2E0;
}

.panel-info>.panel-heading {
    color: #232E36 ;
    background-color: #E4E2E0;
    border-color: #E4E2E0;
}

.label-info {
    background-color:#E4E2E0;
}

.label {
  color: #232E36;

}

#trv_banner_menu #logo_img {
	max-height: 90px;
	float: left;
}

#trv_banner_menu #logo_text {
	position: absolute;
	font: normal normal normal 36px/1em 'Century Gothic', sans-serif;
	margin-top: 30px;
	padding-left: 60px;
	text-align: left;
	/* color: #e35354; */
	color: #00e6e6;
	width: auto;
}

#trv_banner_menu #logo_text span, span#endlogo {
	/* color: #9fb038; */
	color: #e65c00;
}

#trv_banner_menu ul li a, #trv_banner_menu ul li a:focus {
	padding-top: 35px;
	padding-bottom: 35px;
	margin-top: -2px;
	font: normal normal normal 25px/19px NamsanM;
	color: #000;
	background: repeat-x url("../images/banner_bg2.png") 0 -94px;
	transition-duration: 1s;
}

#trv_banner_menu ul li a:hover, #trv_banner_menu ul li a.current
	{
	background-position: 0 0px;
	background-color: #00e6e6; /*#f15556;*/
	color: #fff;
}

#trv_banner_menu span.glyphicon {
	font-size: 30px;
	right: -10px;
}

#trv_banner_menu #mobile_menu {
	padding-top: 25px;
	font-size: 30px;
	float: right;
	color: #e35354;
}

.headline h1 {
    font-size: 60px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 30px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}


@media(max-width:640px) {

 
    .headline h2 {
        font-size: 30px;
    }
}



@media (max-width: 730px) {
	
	#trv_banner_menu #logo_text {
		text-align: center;
	}
	
	#trv_banner_menu #logo_img {
		margin-left: -20px;
	}
}

/*  Small devices (tablets, 768px and up)  */
@media (max-width: 768px) { 
    #trv_about .pre_next {
        font-size: 15px;
    }
    


}

@media(max-width:668px) {


    .headline h2 {
        font-size: 32px;
    }


}
/*  Medium devices (desktops, 992px and up)  */
@media (max-width: 970px) {

    #trv_banner_menu #logo_text {
        font: normal normal normal 35px/1em 'Century Gothic', sans-serif;
    }
    
   

    .headline h2 {
        font-size: 50px;
    }

  

}
/*  Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {


    	
}