
.tableview{
	max-width:100%;
	height:auto;
}
.firstline{
	background-color: #f8f8fa;
	border-radius:15px 15px 0 0;
}
.tb{
	width: 48%;
	height: 30px;
	margin: 0 auto; 
}
.tb1{
	border-right:2px solid;
	border-bottom:2px solid;
	border-color: rgb(255,255,255);
	display:inline;
	width:13%;
	float:left;
	text-align:center;
	padding-top:5px
}
.tb2{
	border-right:2px solid;
	border-bottom:2px solid;
	border-color: rgb(255,255,255);
	display:inline;
	width:13%;
	float:left;
	text-align:center;
	padding-top:5px
}
.tb3{
	border-bottom:2px solid;
	border-color: rgb(255,255,255);
	display:inline;
	width:73%;
	float:left;
	text-align:right;
	padding-top:5px
}
.tb-title{
	border-bottom:10px solid;
	border-color:#f8f8fa;
	height:70px;
	text-align:center;
	font-size:2em;
	padding-top:10px
}
.secondline{
		background-color: #f8f8fa;
}
.tb-hit{
	border-right:2px solid;
	border-color: rgb(255,255,255);
	display:inline;
	float:left;
	width:13%;
	text-align:center;
	padding-top:5px
}
.tb-nick{
	display:inline;
	float:left;
	width:86%;
	text-align: right;
	padding-top:5px
	
}
.tb-contents{
	border-bottom:20px solid;
	border-color:#f8f8fa;
	border-radius:0 0 15px 15px;
	height:250px;
	padding-left:20px;
	padding-top:20px;
	padding-right:20px;	
	margin-bottom:20px;
	font-size:1em;
}


.board-h1{
	color:inherit;
	line-height:1.1;
	font-weight: 500;
	margin:.67em 0;
	margin-bottom: 10px;
	
}

.pagination{
	display: block;
	text-align: center;
}
.pagination > li > a {
	float: none;
	margin-left:-5px;
}


.col-md-4{
	text-align:right;
	margin-top:2em;
}


.table{
	max-width:100%;
	margin-bottom: -1px;
}

table th, table td{
	text-align:center;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:action{
	color: black;
}

.fluid-user{
	
	max-width:1600px;
}
#form-control{
	height: 34px;
	border: 1px solid #ccc;
  border-radius: 4px;

}
select{
  width: 95px; 
  padding: .4em .5em; 
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */  
  border-radius: 7%; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
	webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none; 
}
@media screen and(min-width:250px){
row{
	float:right;
	}
}
@media screen and(max-width:249px){ 
	form-inline{
	display:inline;
	}
}

/*board write*/
.write{
	display:block;
	width:770px;
	height:300px;
	margin: 0 auto;
}

.editor{
	margin-left:15%;
}

	
	/*header*/
.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.bottom-empty{
	height: 100px;
}

