body {
  background: #e2e1e0;
}



.title_schedule{
	margin-top: 15px;
	margin-bottom: 60px;
	width: 15%;
}



.lg_map{
	background: #FEFEFE;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.mx{
	
	max-width:1750px
}

.drag_card{
	background: #FEFEFE;
	display: block;
	width: 450px;
	margin-top: 30px;
	
}

.list_img{
	width:30%;
	margin-bottom:10px;
	margin-right:30px;
}

.list_contents{
	width:50%;
}

.list-group-item img{
	
	width: 120px;
	height: 100px;
}

.drop_card{
	background: #FEFEFE;
	margin-top: 30px;
	
} 

#sel_city{
	margin-bottom: 15px;
	background: #1a7ad9;
}

.city{
  
   color:  #FEFEFE;
   margin-right: 260px;	
   margin-left: 15px;	
}

.down{
	display:inline;
	background: #FEFEFE;
	margin-top: 16px;
}

.glyphicon-search{
	
	font-size:20px;
}

#custom-search-input{
	
	width:100%;
    margin-bottom: 15px;
	
}

.thead-inverse{
	
	background:#625859;
	color:#FEFEFE;
	
}