@CHARSET "EUC-KR";

.fluid-usr{
    max-width: 1200px;
    background-color: #fff;
}


.header{
  margin-top:120px;
}

.main_img{

	margin-top: 50px;
  	outline: 1px dashed black;
	padding: 75px;

}

.note_wt{

	margin-top: 30px;
	

}

.wt{

	margin-top: 30px;
	
}

#time_wt{
	
	border-left: 1px solid black;
}

.time_note{
	
	margin-top: 30px;
	
}

.bt_end{

	margin-top: 60px;

}

.title{
    margin-bottom:20px;
}



